/* ================= Reset ================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}

/* ================= Variables ================= */
:root {
    --dark-gray: #162d6c;
    --light-brown: rgba(22,50,134,0.75);
    --green-color: #b6dcf7;
    --yellow-color: #e8da18;
    --orange-color: #a8630d;
}

/* ================= Header ================= */

.main-btn {
  background-color: var(--yellow-color);
  color: var(--light-brown);
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  background-color: var(--orange-color);
  color: white;
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.logo a {
    color: #f1efdc;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

/* ================= Navigation ================= */
/* Start Navbar */
.navbar {
  background-color: var(--dark-gray);
}

.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}
.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .search svg {
  color: var(--green-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}


/* ================= Hero Section ================= */
.bg-img {
    position: relative;
    height: calc(100vh - 90px);
    background: url('img/Starry Night_.jpg') no-repeat center center/cover;
}

.hero-box {
  max-width: 520px;
  background-color: rgba(1, 60, 136, 0.65);
}

.hero-box h2 {
  font-size: 32px;
  font-weight: 600;
}

.hero-box p {
  font-size: 15px;
  line-height: 1.7;
}

/* Responsive Hero */
@media (max-width: 767px) {
    .text {
        width: 90%;
        padding: 15px;
    }
    .text h2 {
        font-size: 24px;
    }
    .text p {
        font-size: 12px;
    }
}
/* End Landing */

/* ================= About Section ================= */

.about-section {
    padding: 100px 20px;
    background-color: #cbc9ae;
    text-align: center;
    position: relative; /* للتأكد من ترتيب العناصر */
    overflow: hidden;   /* يمنع أي عناصر خارجية من الخروج */
}

.about-section .container {
    max-width: 900px;
    margin: 0 auto;
}

.about-section h2 {
    font-size: 36px;
    color: #162d6c;
    margin-bottom: 20px;
    font-weight: 700;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

/* إضافة تأثير Fade-In عند التمرير (اختياري) */
.about-section .container {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s forwards;
    animation-delay: 0.2s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 767px) {
    .about-section {
        padding: 60px 15px;
    }

    .about-section h2 {
        font-size: 28px;
    }

    .about-section p {
        font-size: 16px;
    }
}
/* ================= End About Section ================= */
/* ================= Gallery ================= */
.gallery-page{
    background-color: var(--dark-gray);
    background-image: none;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 20px;
    color: white;
    font-family: "Open Sans", sans-serif;
}

        .gall {
            color: white;
            text-shadow: 0 0 5px #000;
            font-size: 48px;
            margin-bottom: 20px;
        }
         
        .gall:hover {
            color: var(--green-color);
            text-shadow: 0 0 5px #ffffff;
        }

        .gallery {
            display: flex;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;
            margin-top: 20px;
        }

        .card {
            flex: 1 1 calc((100% - 15px) / 4); /* 4 صور في الصف مع فجوة 15px */
            max-width: 250px;
            height: 270px;
            width: 250px;
            flex-direction: column;
            background: white;
            border-radius: 10px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.1);
            overflow: hidden;
            transition: transform 0.3s;
            cursor: pointer;
            display: flex;
        }

        .card:hover {
            transform: translateY(-8px);
        }

        .card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            display: block;
        }

        .card h3 {
            margin: 10px 0;
            margin: 10px 0;
            font-size: 16px;
            color: #555;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .buttons {
            padding-top: 15px;
            margin-bottom: 40px;
        }

        .buttons button {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            font-weight: bold;
            font-size: 16px;
            background: linear-gradient(135deg, #7788de, #1542d8);
            color: var(--dark-gray);
            border: none;
            cursor: pointer;
            margin: 5px;
        }
        .buttons button:hover {
            background: linear-gradient(135deg, #1b6adf, #afc6ee);
        }
        .buttons button:focus {
            outline: none;
        }
        .hidden {
            display: none;
        }

@media (max-width: 1024px) {
    .card {
        flex: 0 1 calc((100% - 2 * 15px) / 3); /* 3 صور + 2 gaps */
    }
}

@media (max-width: 768px) {
    .card {
        flex: 0 1 calc((100% - 15px) / 2); /* 2 صور + 1 gap */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 0 1 100%; /* صورة واحدة في الصف */
    }
}
/* ================= End Gallery ================= */

/* ================= Start Details ================= */
  body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }

        .art-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;  
            background: rgba(255, 255, 255, 0.671);
            top: 15%;
            padding: 30px;
            border-radius: 15px;
            max-width: 800px;
            margin: 40px auto;
            box-shadow: 0 8px 20px rgba(0,0,0,0.1);
        }

        img {
            width: 350px;
            border-radius: 10px;
            height: 400px;
        }

        h2 {
            font-size: 36px;
            margin-top: 15px;
            font-family: 'Montserrat' ,sans-serif;
            font-style: bold;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            font-family: 'Montserrat' ,sans-serif;
            font-style: bold;
        }

        .buttons-container {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;
        }

        .bttn {
            width: 100%;
            height: 45px;
            line-height: 45px;
            margin-left: 10px;
            background: var(--bg-color);
            border: 1px solid #3d2913;
            cursor: pointer;
            color: white;
            font-size: 16px;
            justify-content: center;
        }

     
        .bttn:hover {
            background: #3d2913;
            opacity: 1;
        }   
        /* --------- Popup Styles --------- */
        .modal {
            display: none; /* مخفي افتراضياً */
            position: fixed;
            z-index: 100;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.5);
        }

        .modal-content {
            background-color: white;
            margin: 10% auto;
            padding: 20px;
            border-radius: 15px;
            width: 90%;
            max-width: 400px;
            text-align: center;
            box-shadow: 0 8px 20px rgba(5, 38, 84, 0.2);
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover {
            color: black;
        }

        .modal a {
            display: block;
            margin: 15px 0;
            padding: 10px 15px;
            border-radius: 10px;
            background: var(--bg-color);
            color: white;
            text-decoration: none;
            font-weight: bold;
            transition: 0.3s;
        }

        .modal a:hover {
            background: #3d2913;
        }
/* ================= End Details ================= */