/* Variables */
:root {
    --bg-color: #f1f1f1;
}

.bg-img {
    background: url('img/Starry\ Night_.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
/* Testimonials Section */
#testimonials {
    padding: 90px 0;
}

#testimonials .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 6rem;
    gap: 2.5rem;
}

#testimonials .item {
    text-align: center;
    padding: 25px 25px 35px;
    background-color: rgba(255, 255, 255, 0.662);
}

#testimonials .item a {
    text-decoration: none;
    color: black;
}    

#testimonials .item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.heading h2 {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    top: 14%;
    color: #ffffff;
    text-shadow: #374f62;
}