*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    color: #ffffff;
    text-shadow: #2c71df;
    font-family: 'Montserrat' ,sans-serif;
}
.bg-img {
    background: url('img/Starry\ Night_.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.content {
    position: absolute;
    top: 10%;
    display: grid;
    left: 35%;
    width: 370px; 
    z-index: 999;
    text-align: center;
    padding: 60px 30px;
    background-color: #162d6c;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);  
    height: 500px;  
}
/* Full-width input fields */
input[type=text], input[type=password] , input[type=email] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus , input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {  
  background: #8d6d1e;
  border: 1px solid #3d2913;
  color: white;
  padding: 14px 20px;
  margin: 9px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

button a {
    text-decoration: none;
    color: white;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background: #8d6d1e;
  border: 1px solid #3d2913;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}